@import 'variables.scss';
@import 'templates.scss';

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}
* {
    @extend %nomp;
    box-sizing: border-box;
}
canvas {
    @extend %all-center;
    //border: 1px solid $smooth;
}